@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #2d2d2d;
}

.prod{
    font-family: 'Poppins', sans-serif;
    margin: 0px 30px 20px 30px;
}


.form-control {
    font-size: 14px;
}

@media screen and (min-width: 994px) {
    .form-control {
    width: 350px;
}
}

@media screen and (max-width: 994px) {
    .navbar-nav {
    text-align: center;
}
}
    
.main-color {
    background-color: #F78C50 !important;
}

/*--- style css catalog --*/

h2 {
    font-size: 48px;
    color: #363958;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #363958;
}

span {
    font-family: 'Poppins', sans-serif;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #363958;
}


.custom-navbar{
    background-color: #f1f1f1;
}

.custom-ul{
    text-align: center;
    background-color: #fff;
}

.shadow{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.8) !important;
}

.custom-li{
    font-weight: 700;
    padding: 0px 25px;
}

.custom-highlight{
    color: #dc3545;
}

.custom-btn{
    background-color: #3d4ff3;
    padding: 10px;
    border: none;
    outline: none;
}

.custom-card{
    border-radius: 20px;
    padding: 12px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border: none;
}

.custom-img-width{
    width: 80px;
}

.custom-service-card{
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border: none;
}

.custom-footer{
    background-color: transparent;
    border: none;
}

.custom-bg{
    height: 350px;
    background: #f1f1f1;
    border-radius: 12px;
}

/* Gambar Produk */
.row-produk {
    background-color: #f2f2f2;
    margin: 0;
    padding: 5px;
    padding-top: 16px;
}
/* Akhir Gambar Produk */

/* Garis nama Produk */
.garis-nama {
    border-bottom: 2px solid #2d2d2d;
    margin-top: 10px;
    margin-bottom: 25px;
}

/* Masukkan keranjang */
.btn-produk {
    font-family: 'Poppins', sans-serif;
}

/* button keranjang */
.btn-custom {
    padding: 16px;
    font-size: 13px;

}

/*Gambar */
.img-history {
    width: 70px;
}

.table {
    font-family: 'Poppins', sans-serif;
}

/* Table Header */
.table-dark {
    padding-top: 20px !important;
    padding-bottom: 20px;
    border-radius: 20px;
}

.nav-link {
    color: #2d2d2d;
}

.nav-link:hover {
    color: #eb7643;
    text-decoration: none;
}

th, td {
    text-align: center;
    vertical-align: middle;
}

